<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sixth.sixthgroup.dao.SpecialInfoClassMapper" >
  <resultMap id="BaseResultMap" type="sixth.sixthgroup.model.SpecialInfoClass" >
    <id column="spcl_id" property="spclId" jdbcType="INTEGER" />
    <result column="spcl_name" property="spclName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    spcl_id, spcl_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from specialinfoclass
    where spcl_id = #{spclId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from specialinfoclass
    where spcl_id = #{spclId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="sixth.sixthgroup.model.SpecialInfoClass" >
    insert into specialinfoclass (spcl_id, spcl_name)
    values (#{spclId,jdbcType=INTEGER}, #{spclName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="sixth.sixthgroup.model.SpecialInfoClass" >
    insert into specialinfoclass
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="spclId != null" >
        spcl_id,
      </if>
      <if test="spclName != null" >
        spcl_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="spclId != null" >
        #{spclId,jdbcType=INTEGER},
      </if>
      <if test="spclName != null" >
        #{spclName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="sixth.sixthgroup.model.SpecialInfoClass" >
    update specialinfoclass
    <set >
      <if test="spclName != null" >
        spcl_name = #{spclName,jdbcType=VARCHAR},
      </if>
    </set>
    where spcl_id = #{spclId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="sixth.sixthgroup.model.SpecialInfoClass" >
    update specialinfoclass
    set spcl_name = #{spclName,jdbcType=VARCHAR}
    where spcl_id = #{spclId,jdbcType=INTEGER}
  </update>
  
  <!-- 自己写的方法 -->
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from specialinfoclass
  </select>
</mapper>